In [2]:
# supervised-labelled
# unsupervised-unlabelled
# semi-supervised - combination of both labelled and unlabelled

In [3]:
# A data frame is a structured representation of data.
# Let's define a data frame with 3 columns and 5 rows with fictional numbers:

import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [12]:
# for finding number of rows, df.shape[0]
# for finding number of column, df.shape[1]

column_num = df.shape[1]
print(column_num)

row_num = df.shape[0]
print(row_num)

print()

average_pulse = (80, 85, 90, 95, 100, 105, 110, 115, 120, 125)
max_average = max(average_pulse)
print(max_average)

min_average = min(average_pulse)
print(min_average)

3
5

125
80

In [6]:
import numpy as np
mean_average_pulse = np.mean(average_pulse)
print(mean_average_pulse)

Calorie_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]
average_calorie = np.mean(Calorie_burnage)
print(average_calorie)

102.5
285.0

In [7]:
import pandas as pd

health_data = pd.read_csv("C:\\Users\\NELSON ESTHER\\Desktop\\data.csv")
print(health_data)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
5        NaN           NaN       NaN              NaN         NaN          NaN
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
8       45.0           NaN        AF              NaN         8.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
11      60.0         9 000       130              NaN         NaN          8.0
12      45.0           125       150            330.0         8.0          8.0

In [8]:
health_data.head()

   Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0      30.0            80       120            240.0        10.0          7.0
1      45.0            85       120            250.0        10.0          7.0
2      45.0            90       130            260.0         8.0          7.0
3      60.0            95       130            270.0         8.0          7.0
4      60.0           100       140            280.0         0.0          7.0

In [9]:
# Pandas - This library is used for structured data operations, like import CSV files, create dataframes, and data preparation
# Numpy - This is a mathematical library. Has a powerful N-dimensional array object, linear algebra, Fourier transform, etc.
# Matplotlib - This library is used for visualization of data.
# SciPy - This library has linear algebra modules.

In [10]:
# We can use the dropna() function to remove the NaNs. axis=0 means that we want to remove all rows that have a NaN value:
health_data.dropna(axis=0, inplace=True)
print(health_data)

    Duration Average_Pulse Max_Pulse  Calorie_Burnage  Hours_Work  Hours_Sleep
0       30.0            80       120            240.0        10.0          7.0
1       45.0            85       120            250.0        10.0          7.0
2       45.0            90       130            260.0         8.0          7.0
3       60.0            95       130            270.0         8.0          7.0
4       60.0           100       140            280.0         0.0          7.0
6       60.0           105       140            290.0         7.0          8.0
7       60.0           110       145            300.0         7.0          8.0
9       45.0           115       145            310.0         8.0          8.0
10      60.0           120       150            320.0         0.0          8.0
12      45.0           125       150            330.0         8.0          8.0

In [11]:
# Quantitative Data - Can be expressed as a number or can be quantified. Can be divided into two sub-categories:
# Discrete data: Numbers are counted as "whole", e.g. number of students in a class, number of goals in a soccer game
# Continuous data: Numbers can be of infinite precision. e.g. weight of a person, shoe size, temperature
# Qualitative Data - Cannot be expressed as a number and cannot be quantified. Can be divided into two sub-categories:
# Nominal data: Example: gender, hair color, ethnicity
# Ordinal data: Example: school grades (A, B, C), economic status (low, middle, high)

health_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10 entries, 0 to 12
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Duration         10 non-null     float64
 1   Average_Pulse    10 non-null     object
 2   Max_Pulse        10 non-null     object
 3   Calorie_Burnage  10 non-null     float64
 4   Hours_Work       10 non-null     float64
 5   Hours_Sleep      10 non-null     float64
dtypes: float64(4), object(2)
memory usage: 560.0+ bytes