In [ ]:
# supervised-labelled
# unsupervised-unlabelled
# semi-supervised - combination of both labelled and unlabelled

In [10]:
# A data frame is a structured representation of data.
# Let's define a data frame with 3 columns and 5 rows with fictional numbers:

import pandas as pd

d = {'col1': [1, 2, 3, 4, 7], 'col2': [4, 5, 6, 9, 5], 'col3': [7, 8, 12, 1, 11]}

df = pd.DataFrame(data=d)

print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6    12
3     4     9     1
4     7     5    11

In [5]:
# for finding number of rows, df.shape[0]
# for finding number of column, df.shape[1]

column_num = df.shape[1]
print(column_num)

row_num = df.shape[0]
print(row_num)

3
5

In [6]:
average_pulse = (80, 85, 90, 95, 100, 105, 110, 115, 120, 125)
max_average = max(average_pulse)
print(max_average)

min_average = min(average_pulse)
print(min_average)

125
80

In [8]:
import numpy as np
mean_average_pulse = np.mean(average_pulse)
print(mean_average_pulse)

Calorie_burnage = [240, 250, 260, 270, 280, 290, 300, 310, 320, 330]
average_calorie = np.mean(Calorie_burnage)
print(average_calorie)

102.5
285.0

In [15]:
import pandas as pd

health_data = pd.read_csv("C:\\Users\\NELSON ESTHER\\Desktop\\data.csv")
print(health_data)

   Duration  Average_Pulse  Max_Pulse  Calorie_Burnage  Hours_Work  \
0        30             80        120              240          10
1        30             85        120              250          10
2        45             90        130              260           8
3        45             95        130              270           8
4        45            100        140              280           0
5        60            105        140              290           7
6        60            110        145              300           7
7        60            115        145              310           8
8        75            120        150              320           0
9        75            125        150              330           8

   Hours_Sleep
0            7
1            7
2            7
3            7
4            7
5            8
6            8
7            8
8            8
9            8

In [16]:
health_data.head()

,Duration,Average_Pulse,Max_Pulse,Calorie_Burnage,Hours_Work,Hours_Sleep
0,30,80,120,240,10,7
1,30,85,120,250,10,7
2,45,90,130,260,8,7
3,45,95,130,270,8,7
4,45,100,140,280,0,7